<div class="container mt-4 min-vh-100">

  <% if @device.present? %>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="text-center">
            <th scope="col">Serial</th>
            <th scope="col">Device</th>
            <th scope="col">Customer</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td><%= link_to @device.serial_number, device_path(@device.id) %></td>
            <td><%= @device.device_type %></td>
            <td><%= @device.customer.upcase %></td>
          </tr>

        </tbody>
      </table>
    </div>
  <% else %>
    <p>No devices available.</p>
  <% end %>


</div>
