.navbar-lla {
  justify-content: space-between;
  background: black;
}

.navbar-lla .navbar-collapse {
  flex-grow: 0;
}

.navbar-lla .navbar-brand img {
  width: 100px;
}

.nav--link {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}
